{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": ["pom.xml", "CHANGELOG.md"],
        "message": "chore(release): update version to ${nextRelease.version} [skip ci]"
      }
    ]
  ]
}